<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Super Team Picker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-reverse navbar-expand-sm navbar-light bg-light mb-8">
        <a class="navbar-brand text-primary title" href="/">Super Team Picker</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse topnav justify-content-end" id="navbarNavAltMarkup">
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-right pull-sm-right align-content-end"><a class="nav-link text-primary menu" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-primary menu" href="/new">New Cohorts</a></li>
                </ul> 
            </div>    
        </div>
    </nav>

    <div class="container-fluid">